<launch>
                <include file="$(find openpose_pkg)/launch/fishcam.launch" />
                <include file="$(find openpose_pkg)/launch/proc_depth_humans_launch.launch" />
                <include file="$(find openpose_pkg)/launch/proc_image_launch.launch" />
                <include file="$(find openpose_pkg)/launch/converteruser.launch" /> 
                <include file="$(find openpose_pkg)/launch/openposeinference.launch" />

</launch>
